@charset "UTF-8";

@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}

.wrap {
    contain: content;
}

body {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    font-size: 14px;
    color: #000000;
    /* background-color: hsl(0, 76%, 92%); */
    background: url(/img/white.jpg);
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    transition: 0.4s;
}

body.on {
    /* background-color: #5c1111; */
    background: url(../img/bbu.jpg);
    color: #fff;
}

.en {
    font-family: 'Cafe24Oneprettynight';
}

.en_s {
    font-family: 'Giants-Inline';
    ;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* inner-넓이에 대한 가이드 */
.inner {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}

section .inner .box {
    float: left;
    width: 50%;
}

section .inner .slidesbox {
    float: left;
    width: 50%;
    height: 800px;
    display: flex;
    padding: 125px 0;
    box-sizing: border-box;

}

section .inner .slidesbox .container {

    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    top: auto;
}

section .inner .slidesbox .column {
    width: auto;
    height: 200px;
    overflow: hidden;
}

section .inner .slidesbox .column img {
    width: 100%;
}

section .inner .row {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 25%;
    margin-right: 5%;
}

.container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 1200px;
    top: -300px;
}

.mySlides {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.mySlides img {
    width: 400px;
    height: 550px;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.row {
    display: flex;
    height: 134px;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 1157px;
    left: 163px;
}

.column {
    width: 17.6666%;
}

.column img {
    display: block;
    width: 34%;
}

.demo {
    opacity: 0.6;
}

.demo:hover,
.demo.active {
    opacity: 1;
}

.cursor {
    cursor: pointer;
}

/* ----------로딩----------- */
.progress {
    position: fixed;
    background-color: rgb(255, 245, 231);
    color: #000000;
    height: 100vh;
    width: 100%;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    z-index: 200;
}

.progress-bar {
    border-top: 1px solid rgb(119, 119, 119);
    position: absolute;
    top: 50%;
    width: 0%;
}

.progress-text {
    font-size: 120px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
}

.progress-complete .progress-bar {
    border-top-color: #000;
    opacity: 1;
}

/* ----------path----------- */
.header-img {
    position: absolute;
    bottom: -16%;
    left: 62%;
    box-sizing: border-box;
    pointer-events: none;
    transform: rotateY(180deg);
}

.path {
    fill: none;
    /* stroke: #5c5c5c; */
    stroke: #6b0d0d;
    stroke-width: 3px;

}

.path1 {
    stroke-dasharray: 13186;
    animation: drawPath 3s 1.5s linear, floating 2.2s linear infinite;
    width: 100%;
    stroke-width: 50px;
}

.header-img svg {
    width: 721px;
    margin-left: 64rem;
    opacity: 0.2;
}

/* .path2 {
    stroke-dasharray: 13186;
} */


@keyframes drawPath {
    0% {
        stroke-dashoffset: 13185;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
    }

}

.content1 {
    fill: none;
    stroke: #5c5c5c;
    stroke-width: 2px;
}

.content1 svg {
    position: absolute;
    top: 388px;
    right: 68px;
    opacity: 0.2;
}

.content2 {
    position: absolute;
    top: 20px;
    left: 144px;
    width: 155px;
}

.path3 {
    stroke: rgba(255, 255, 255, 0.4);
}

.path-book {
    position: relative;

}


.heart {
    position: relative;
}

.heart .website {
    position: absolute;
    right: 10%;
    top: 5%;
    width: 900px;
    height: 350px;
    rotate: 4deg;
}

.heart .website iframe {
    width: 100%;
    height: 100%;
}

.content3 {
    position: absolute;
    top: 78px;
    width: 100%;
    height: 100%;
}

.path4 {
    stroke: rgba(255, 255, 255, 0.4);
}

.content4 {
    position: absolute;
    top: -256px;
    left: 86px;
    width: 114%;
    height: 100%;
}

.path5 {
    stroke: rgba(255, 255, 255, 0.4);
    opacity: 0.6;
}


/* ----------notice----------- */
.notice {
    position: fixed;
    top: 100px;
    right: 100px;
    padding: 20px;
    border: 1px solid #000;
    z-index: 100;
    background-color: #fff;
    border-radius: 1rem;
}

.notice h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    color: #000;
}

.notice p {
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 2rem;
    color: #000;
}

.notice .Nclose {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #000;
    font-size: 2rem;
    transition: .3s;
}

.notice .hide {
    color: #000;
}

.notice .Nclose:hover {
    color: #fbd407;
}

/* ----------header----------- */
header {}

.innerheader {
    max-width: 1720px;
    margin: 0 auto;
    height: 110px;
    line-height: 110px;
}

.innerheader .mainmenu {
    float: right;
    position: relative;
}

.innerheader .bar {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 0;
    height: 3px;
    background-color: #e7e7e7;
    transition: 0.2s;
}

.innerheader .gnb {
    float: left;
}

.innerheader .gnb li {
    float: left;
    margin: 0 20px;
}

.innerheader .gnb li a {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    display: block;
    color: #6b0d0d;
    font-size: 25px;
}

/* ----------visual----------- */
.visual {
    position: relative;
    max-width: 1720px;
    margin: 0 auto;
}

.visual .mainImg {
    float: left;
    width: 60%;
    position: relative;

}

.visual .mainImg .img {
    height: 810px;
    width: 725px;
    padding-left: 165px;
}

.visual .mainImg .img iframe {
    width: 100%;
    height: 100%;
}

.visual h1 {
    font-size: 100px;
}

.visual .mainText {
    float: right;
    width: 40%;
    margin-top: 180px;
}

.visual .mainText .tit {
    font-size: 72px;
}

.visual .mainText .txt {
    padding: 50px 0 0 70px;
}


/* ----------jurnal----------- */
.jurnal .text-ani {
    width: 100%;
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    overflow-x: hidden;
}

.cover {
    color: #ffffff;
    width: 100vw;
    margin-bottom: 12vw;
    display: flex;
}

.cover:nth-child(1) {
    margin-top: 4vh;
    transform: rotate(-2deg);
    background-color: #535353;
}

.cover:nth-child(2) {
    transform: rotate(2deg);
    background-color: #8b1414;
    justify-content: flex-end;
}

.first-parallel,
.second-parallel {
    display: flex;
    padding: 1vh 0;
    font-size: clamp(2vw, 8vw, 5rem);
}

.jurnal {
    position: relative;
    padding: 190px 0 120px;
}

.jurnal .scroll {
    position: absolute;
    left: 50%;
    top: 38px;
    transform: translateX(-50%);
    font-size: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    padding-top: 90px;
}

.jurnal .scroll::before {
    content: "";
    position: absolute;
    height: 75px;
    width: 1px;
    background-color: #333;
    top: 0;
    left: 6px;
}

.jurnal .box .img {
    padding-top: 100px;
}

.jurnal .box .tit {
    margin-bottom: 40px;
}

.jurnal .box ul {
    border-top: 1px solid #000000;
    padding-top: 40px;
}

.jurnal .box ul li {
    overflow: hidden;
    margin-bottom: 30px;
}

.jurnal .box ul li h3 {
    float: left;
    font-size: 40px;
}

.jurnal .box ul li p {
    float: left;
    color: #000000;
    font-size: 30px;
}

.jurnal .box .moreBtn {
    margin-left: 22%;
}

/* -----------service------------ */
.service {
    position: relative;
}

.service .my {
    position: absolute;
    right: 10%;
    top: -15%;
    width: 900px;
    height: 480px;
    rotate: 4deg;
}

.service .my iframe {
    width: 100%;
    height: 100%;
}

.service .box .img {
    margin-top: 60px;
}

.service .box.design {
    margin-top: -73%;
    width: 40%;
    border-top: 3px solid #ffffff;
    padding-top: 70px;

}

.page {
    height: 100vh;
    width: 70vw;
    overflow: hidden;
    position: relative;
}

.page .contentWrap {
    position: absolute;
    left: 52%;
    top: 0;
    transform: translate(-50%, -50%) rotate(0eg);
    /*  width: 420px; */
}

.page .contentWrap img {
    width: 280px;
    height: 330px;
    opacity: 0;
    transition: .8s cubic-bezier(0.91, 0.19, 0.65, 1.11);
    ;
}

.page .contentWrap img.img0 {
    transform: translate(-100%, 0);
    transition-delay: .1s;
}

.page .contentWrap img.img1 {
    transform: translate(0, -100%);
    transition-delay: .21s;
}

.page .contentWrap img.img2 {
    transform: translate(100%, 0);
    transition-delay: .18s;
}

.page .contentWrap img.img3 {
    transform: translate(0, 100%);
    transition-delay: .2s;
}

.page .contentWrap img.active {
    opacity: 1;
    transform: translate(0, 0);
}

.page .textWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #000;
}

.page .buttonWrap {
    position: absolute;
    left: 73%;
    bottom: 240px;
    transform: translate(-50%, -0);

}

.page .buttonWrap button {
    padding: 10px 40px;
    background-color: #fff;
    font-size: 20px;
    border: none;
}

.page .buttonWrap .btn1 {}

.page .buttonWrap .btn2 {}


/* -----------skill------------ */
.skill-line {
    position: relative;
}

.skill-linetit {
    font-family: 'Giants-Inline';
    position: absolute;
    left: 14.5%;
    font-size: 50px;
}

.main {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .skills {
    position: absolute;
    left: 13.5%;
    width: 600px;
    padding: 0 20px;
}

.main .skill-name {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

.main .skill-bar {
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.main .skill-per {
    position: relative;
    height: 20px;
    background-color: #ffdcc0;
    border-radius: 8px;
    width: 20px;
    transition: 1s linear;
}

.main .skill-per::before {
    content: attr(per);
    position: absolute;
    background-color: #fff8d1;
    color: #000000;
    font-size: 12px;
    padding: 4px 6px;
    top: -35px;
    right: 0;
    border-radius: 4px;

}

.main .skill-per::after {
    content: "";
    position: absolute;
    background-color: #000;
    top: -18px;
    right: 3px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    transform: rotate(45deg);
    z-index: -1;

}

/* -----------------------cube------------------------------ */
.cube {
    position: absolute;
    top: 520px;
    right: 550px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    perspective: 800px;
}

.box-area {
    transform-style: preserve-3d;
    position: relative;
    width: 400px;
    height: 400px;
    transition: 0.6s;

}

.boxs {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-front {
    transform: translateX(0px) translateY(0px) translateZ(200px);
    background: url(../img/cafe.gif);
    background-size: cover;
}

.box-right {
    transform: translateX(200px) translateY(0px) translateZ(0px) rotateY(90deg);
    background: url(../img/88.gif);
    background-size: cover;
}

.box-back {
    transform: translateX(0px) translateY(0px) translateZ(-200px)rotateY(180deg);
    background: url(../img/nn.gif);
    background-size: cover;
}

.box-left {
    transform: translateX(-200px) translateY(0px) translateZ(0px) rotateY(90deg);
    background: url(../img/tro.gif);
    background-size: cover;
}

.box-top {
    transform: translateX(0px) translateY(-200px) translateZ(0px) rotateX(90deg);
    background: url(../img/pop.gif);
    background-size: cover;
}

.box-bottom {
    transform: translateX(0px) translateY(200px) translateZ(0px) rotateX(270deg);
    background: url(../img/bbbb.gif);
    background-size: cover;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.rotate-x-button i,
.rotate-Y-button i {
    font-size: 30px;

}

.rotate-x-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(50% - 300px);
    width: 105px;

}

.rotate-x-top,
.rotate-x-bottom,
.rotate-Y-top,
.rotate-Y-bottom {
    border: 0;
    background: none;
}

.rotate-x-top {
    margin-left: 80px;
    margin-top: 20px;

}

.rotate-x-bottom {
    position: absolute;
    top: 20px;
}

.rotate-Y-button {}

.front {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(50% - 300px);
}

.rotate-Y-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    display: flex;
    justify-content: space-between;
}



/* ----------customer----------- */
.customer {
    background: url(../img/sea.gif)no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 95px 0;
    position: relative;
    top: 78px;
}

.customer .tit {
    font-family: 'Giants-Inline';
    color: #ffffff;
    font-size: 150px;
    margin-bottom: 10px;
}

.customer .txt {
    color: #ffffff;
    font-size: 30px;
}

.text span {
    font-family: 'Giants-Inline';
}

/* ----------team----------- */
/*-------- reset --------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 18px;
    font-weight: normal;
}

li,
ul,
ol {
    list-style: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

em {
    font-style: normal;
}


.container2 {
    width: 1200px;
    margin: 0 auto;
}

/*--------// reset --------*/

/*-- #section1----------------------------------------------- */
#section1 {
    position: relative;
    padding-top: 300px;
}

.history_story {
    /* position: absolute; */
    /* top: 300px; */
    width: 100%;
}

.history_btn {}

.history_btn ul {
    width: 100%;
    margin: 100px auto 0;
}

.history_btn ul li {
    float: left;
    width: 30%;
    text-align: center;
    margin-left: -1px;
    font-size: 30px;

}

.history_btn ul li a {
    display: block;
    border: 1px solid #ffffff;
    padding: 10px 0;
}

.history_btn ul li.active a {
    color: #ffffff;
    background-color: #3b3b3b;
    border-color: #ffffff;
    font-weight: bold;
}

.history_slide_wrap .slick-arrow {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: 6px;
    z-index: 30;
    font-size: 0;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.history_slide_wrap .slick-prev {
    left: 40%;
}

.history_slide_wrap .slick-prev::before {
    content: "\f100";
    font-size: 30px;
    border-radius: 50%;
    padding: 3px 5px;
    transition: 0.2s;
}

.history_slide_wrap .slick-prev:hover::before {
    font-size: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #0a0a0a;
    padding: 3px 5px;
}

.history_slide_wrap .slick-next {
    right: 40%;
}

.history_slide_wrap .slick-next::before {
    content: "\f101";
    font-size: 30px;
    border-radius: 50%;
    padding: 3px 5px;
    transition: 0.2s;

}

.history_slide_wrap .slick-next:hover::before {
    font-size: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    padding: 3px 5px;
}

.history_page {
    position: relative;
    text-align: center;
    margin-top: -33px;
    z-index: 20;
}

.history_slide img {
    width: 100%;
}

/* ----------------------------------------------------- */
button {
    float: left;
}


.history_btn ul {
    width: 100%;
    margin-top: 20px;
    margin-bottom: -1px;
}

.history_btn ul li {
    float: left;
    width: 20%;
    text-align: center;
    margin-left: -1px;
}

.history_btn ul li a {
    color: #fff;
    background-color: #00000075;
    border-color: #fff;
    font-weight: 600;
}

.history_btn ul li.active a {
    color: #fff;
    background-color: #00000075;
    border-color: #fff;
    font-weight: 600;

}

.history_slide_wrap {
    max-width: 1720px;
    height: 80vh;
    border: 1px solid #fff;
}

.history_slide_wrap .Pdevice {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    padding-left: 40px;
}

.history_slide img {
    width: 50%;
    z-index: 10;
}

.Pdevice0 .Pmonitor_wrap {
    background: url(../img/olipop.png)no-repeat;
}

.Pdevice1 .Pmonitor_wrap {
    background: url(../img/megabox.gif)no-repeat;
}

.Pdevice2 .Pmonitor_wrap {
    background: url(../img/responsiveWeb.png)no-repeat;
}

.Pdevice3 .Pmonitor_wrap {
    background: url(../img/sushi.png)no-repeat;
}

/* sushi */
.Pdevice4 .Pmonitor_wrap {
    background: url(../img/webstandard.png)no-repeat;
}

/* webstandard */
.Pdevice5 .Pmonitor_wrap {
    background: url(../img/hanacard.png)no-repeat;
}

/* hanacard */
.Pdevice6 .Pmonitor_wrap {
    background: url(../img/bootstrap.png)no-repeat;
}

/* bootstrap */
.Pdevice7 .Pmonitor_wrap {
    background: url(../img/naver_reguar.png)no-repeat;
}

/* naver */

.Pdevice .Pmonitor_wrap {
    position: absolute;
    left: 50px;
    top: 160px;
    width: 562px;
    height: 343px;
    background-size: cover;
    transition: 0.6s;
    border-radius: 0.5%;
}

.Pmonitor_wrap:hover {
    background-position: bottom;
}

.web_btn {
    position: absolute;
    right: 2%;
    bottom: 23%;
}

.pcVer {
    right: 12%;
    bottom: 27%;
}

.Pdevice .desc {
    font-family: 'Cafe24Oneprettynight';
    padding: 0 30px 110px 35px;
    color: #fcf5e3;
}

.Pdevice .desc h3 {
    font-size: 45px;
    padding: 20px 0;
}

.Pdevice .desc p {
    font-size: 18px;
    line-height: 1.5;

}

.web_btn a {
    display: inline-block;
    padding: 8px 30px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    margin-left: 20px;


}

/* ----------figma----------- */
.figma {
    position: relative;
    width: 100%;
    /* height: 1200px; */
    padding-top: 70px;
}

.figma h2 {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    font-size: 85px;
    color: rgb(247, 247, 247);
}

.figma p {
    /* position: absolute;
    top: 120px;
    left: 50%; */
    text-align: center;
    font-size: 50px;
    /* transform: translateX(-50%); */
    color: rgb(255, 255, 255);
}

.figma-img {
    /* position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%); */
}


.square {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-row-gap: 20px;
}

.square .grally {
    display: flex;
}

.square a {
    position: relative;
    margin: 0.5%;
    width: 100%;
    overflow: hidden;
}

.square a img {
    width: 90%;
    display: block;
    transition: .3s;
}

.square a:hover img {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

/* ----------footer----------- */
footer {
    position: relative;
    /* width: 1320px; */
    margin: 0 auto;
}

footer .top {
    /* position: absolute;
    top: 1140px;
    left: 50%;
    transform: translateX(-50%); */
    text-align: center;
}

footer .top .tit {
    color: #ffffff;
    margin-bottom: 30px;
}

footer .top .footer-desc {
    position: relative;
    padding-top: 60px;
    border: 1px solid rgba(0, 0, 0, 0.89);
    background-color: #000000bd;
    /* width: 1900px; */
    height: 100px;
    text-align: center;
}

footer .top .tit strong {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    font-size: 30px;
}

footer .top .tit .top-desc {
    padding-top: 100px;
    font-size: 27px;
}

/* ----------타이틀,텍스트----------- */
.tit {
    font-size: 50px;
    line-height: 1.1;
    font-weight: normal;
    margin-bottom: 20px;
}


.tit span {
    display: block;
}

.tit span b {
    font-weight: normal;
}

.tit .en_s {
    font-size: 22px;
    font-weight: normal;
}

.txt p {
    color: #888;
    line-height: 1.6;
    margin-bottom: 10px;
}

.txt p b {
    font-weight: normal;
}

.moreBtn {
    position: relative;
    display: inline-block;
    padding-left: 45px;
    color: #333;
    margin-top: 20px;
    transform: skewX(-15deg) translateX(5px);
    transition: 0.2s;
}

.moreBtn:hover {
    transform: skewX(0deg) translateX(0px);
    font-weight: bold;
}

.moreBtn::before {
    content: "";
    width: 42px;
    height: 1px;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 53%;
}

/* ----------이미지 애니----------- */
.img.animate__motion {
    position: relative;
    animation: imgAni 1s;
}

@keyframes imgAni {
    0% {
        transform: translateY(70px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* .img.animate__motion::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border: 3px solid #fff;
    width: 100%;
    height: 0;
    animation: mask 1.2s;
}

@keyframes mask {
    0% {
        height: 0%;
        opacity: 0;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
} */

.team .img.animate__motion::after {
    display: none;
}


/* ----------텍스트 애니----------- */
.tit.animate__motion span {
    display: block;
    overflow: hidden;
}

.tit.animate__motion span b {
    margin-top: 10px;
    display: block;
    animation: textAni 1.3s;
    font-size: 48px;
}

.tit.animate__motion .text-desc {
    font-size: 40px;
    display: block;
    animation: textAni 1.3s;
    font-family: 'Cafe24Supermagic-Bold-v1.0';
}

.txt.animate__motion p {
    overflow: hidden;
}

.txt.animate__motion p b {
    display: block;
    animation: textAni 2s;
}

@keyframes textAni {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
        transform: translate(0, 40px) skewY(8deg);
        transform-origin: top left;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


.bounce {
    height: 100vh;
}

.bounce iframe {
    width: 100%;
    height: 100%;
}


.paper {
    width: 100vw;
    height: 400vh;
}

.paper iframe {
    width: 100%;
    position: sticky;
    top: 0;
    height: 100vh;
}

/* 미디어쿼리 */
/* -----------pc(1401~1720) ------------ */
@media (max-width: 1720px) {
    .innerheader {
        max-width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .innerheader .sns {
        margin-left: 200px;
    }

    .visual .mainText {
        margin-top: 150px;
    }

    .visual .mainText .tit {
        font-size: 62px;
    }
}

/* -----------태블릿(1025~1400)------------ */
@media (max-width: 1400px) {
    .innerheader .sns li {
        margin: 0 5px;
    }

    .visual .mainText {
        margin-top: 100px;
    }

    .visual .mainText .tit {
        font-size: 46px;
    }

    .visual .mainText .txt {
        padding: 20px 0 0 0;
    }

    .img img {
        width: 100%;
    }

    .inner {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .jurnal {
        overflow: hidden;
    }

    .jurnal .scroll {
        display: none;
    }

    .jurnal .circleBox {
        top: 0;
        right: -10%;
    }

    .jurnal .img img {
        width: 90%;
    }

    footer {
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
    }
}

/* -----------태블릿(767~1024) ------------ */
@media (max-width: 1024px) {
    .innerheader {
        height: 80px;
        line-height: 80px;
    }

    .innerheader .mainmemu {
        display: none;
    }

    .menuOpen .open:before {
        display: none;
    }

    .menuOpen .open {
        top: 0;
        transform: none;
        padding: 0;
        width: 70px;
        height: 80px;
    }

    .visual .mainImg {
        width: 100%;
        float: none;
    }

    .visual .mainImg .img img {
        width: 100%;
    }

    .visual .mainText {
        width: 100%;
        float: none;
        margin-top: 50px;
        padding-left: 30px;
        box-sizing: border-box;
    }

    section .inner .box {
        width: 100%;
        float: none;
    }

    .jurnal {
        padding: 80px 0;
    }

    .jurnal .img img {
        width: 100%;
    }

    .jurnal .circleBox {
        top: 200px;
    }

    .jurnal .box .img {
        padding-top: 0;
        width: 80%;
        margin: 0 auto 50px
    }

    .service {
        padding: 80px 0;
    }

    .service .txt {
        margin-top: 20px;
    }

    .service .img img {
        width: 70%;
        margin: 50px auto 0;
        display: block;
    }

    .service .box.design {
        margin-top: 50px;
        width: 100%;
    }

    .service .box.design .img img {
        margin: 50px 0 0;
    }

    .service .box.design .tit {
        font-size: 35px;
    }

    .customer {
        padding: 120px 0;
    }

    .customer .tit {
        font-size: 30px;
    }

    .team {
        padding: 80px 0;
    }

    .team .circleBox {
        left: 15%;
    }

    .team .box.left {
        padding-right: 0;
    }

    .team .box.left .img {
        margin-top: 70px;
    }

    .team .box.left .moreBtn {
        float: right;
    }

    .team .box .img {
        width: 70%;
        float: right;
        margin-top: 50px;
    }

    .team .box .tit {
        clear: both
    }

    .team .box:nth-child(2) .img {
        width: 100%;
        margin: 50px 0;
    }

    footer .bottom ul li:first-child {
        width: 100%;
        margin-bottom: 30px;
    }

    footer .bottom ul li {
        width: 33.3333%;
    }
}

/* -----------모바일(321~767) ------------ */
@media (max-width: 767px) {
    body {
        font-size: 13px;
    }

    .innerheader {
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
    }

    .menuOpen .open {
        height: 60px;
        width: 52px;
    }

    .menuOpen .open img {
        height: 38px;
    }

    .menuOpen .menuWrap .close:nth-child(1) {
        top: 20px;
        left: 20px;
        transform: none;
    }

    .menuOpen .menuWrap .close.en {
        display: none;
    }

    .menuOpen .menuWrap .tit {
        left: 20px;
        font-size: 40px;
    }

    .visual {
        padding: 0 20px;
    }

    .tit {
        font-size: 30px;
    }

    .inner {
        padding: 0 20px;
    }

    .jurnal {
        padding: 50px 0;
    }

    .jurnal .circleBox {
        top: 10%;
        right: -6%;
    }

    .jurnal .box .img {
        width: 100%;
        margin-bottom: 20px;
    }

    .jurnal .box .tit {
        margin-bottom: 20px;
    }

    .jurnal .box ul li {
        margin-bottom: 20px;
    }

    .jurnal .box ul li h3 {
        width: 100%;
        margin-bottom: 10px;
    }

    .jurnal .box ul li p {
        width: 100%;
        font-size: 12px;
    }

    .jurnal .box .moreBtn {
        margin-left: 0;
    }

    .service {
        padding: 50px 0;
    }

    .service .img img {
        width: 100%;
        margin-top: 30px;
    }

    .service .box.design {
        padding-top: 50px;
    }

    .service .box.design .tit {
        font-size: 25px;
    }

    .customer {
        padding: 80px 20px;
    }

    .customer .tit {
        font-size: 25px;
    }

    .team {
        padding: 50px 0;
    }

    .team .circleBox {
        left: 4%;
    }

    .team .box .txt {
        margin: 30px 0 10px;
    }

    .team .box.left .img {
        margin-top: 50px;
    }

    .team .box:nth-child(2) .img {
        margin-top: 30px;
    }

    footer {
        padding: 0 20px;
    }

    footer .top .tit {
        margin-bottom: 30px;
    }

    footer .bottom ul li:first-child {
        font-size: 20px;
    }

    footer .bottom ul li {
        width: 100%;
        margin-bottom: 12px;
    }

}

/* -----------모바일(0~320) ------------ */
@media (max-width: 320px) {
    .tit .en_s {
        font-size: 16px;
    }

    .visual .mainText {
        padding-left: 0;
    }

    .visual .mainText .tit {
        font-size: 27px;
    }

    .moreBtn {
        font-size: 11px;
    }
}